@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "MasterLayout.cshtml";
}


		<!-- This is where we're going to render our content -->
		 
		<div class="container">

			<div class="row section">
				<div class="col-md-12">

					<h2>@Model.Value("pageTitle")</h2>
					<p>@Model.Value("description")</p>
				</div>				
			</div>

		</div>

		<!-- Grey Banner -->
		<div class="container-fluid grey-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-8">
						<h2>A flexible CMS - do things your way</h2>
						<p>The Umbraco source code is free and available for download either as a ZIP file or via NuGet under the MIT license, so you can <a href="#">start crafting websites in Umbraco today</a>. 
						Need to build a site with multiple 3rd party extensions and customized add-ons? No problem. Need to build a simple site with a straightforward contact form? No problem.</p>
						<p>Whatever type or scale of your project, Umbraco will be able to handle it - and the cherry on top; with Umbraco’s well-known editor friendly UI, 
							no matter how complex a site you’re building, you know that your editors will still find it a breeze to edit. Oh, and the cherry on top of the cherry - 
							there's <span class="font-weight-bold">no need for you to spend time learning a new coding or templating language as Umbraco is based on C#, javaScript and Razor</span>. </p>
					</div>
					<div class="col-md-4">
						<img src="/images/community.png" class="img-fluid" alt="Community illustration">
					</div>
				</div>
			</div>
		</div>
		
		          @{
	var selection = Umbraco.Content(Guid.Parse("e722f3e9-9cf1-4e9e-ada3-fbec111f284a"))
    .ChildrenOfType("blogItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
           	<!-- Blog section -->
		<div class="container">

			<div class="row section">
				<div class="col-md-12">
					<h1>Latest from the blog</h1>
				</div>
				

            	@foreach (var item in selection)
            	{
            	    var thumbnail = item.Value<IPublishedContent>("thumbnailImage");
            		<div class="col-md-4">
					    <a href="@item.Url()" class="featured-link"><div class="thumbnail-blog">
					    	<div class="thumbnail-img" style="background-image:url('@thumbnail.Url()')"></div>
					        	<h5>@item.Value("title")</h5>
					        </div></a>
                    </div>					        
            	}
                	
	    	</div>
		</div>

		<!-- Call to Action -->
		<div class="container-fluid orange-bg">
			<div class="container">

				<div class="row section">
					<div class="col-md-12 text-center">
						<h1>How to continue your Umbraco journey</h1>
						<p>What’s next? We have gathered the 3 best ways for you to go on from here ensuring you get the best start to your Umbraco journey: <br/><br/></p>
						<a href="#" class="btn btn-inverted-orange" role="button">3 ways to start your Umbraco Journey >></a>
					</div>
				</div>
	
			</div>
		</div>
